setuptools
python-engineio
python-socketio
flask-cors
flask-socketio
requests
flask>=2.3.2
pymongo
bcrypt>=4.0.1
pycryptodome>=3.10.1
google-auth>=2.3.3
google-auth-oauthlib>=0.4.6
flask-login
flask-admin==1.6.1
WTForms==3.0.1
aiohttp
asyncio
aiofiles
langchain
waitress
eventlet
pandas
python-dotenv